# Numpy Creation From Existing Data:

In [58]:
import numpy as np

### From List and Tuple:
* np.array and np.asarray functions uses existing list/tuple data to create new arrays.
#### array:
* Creates array from given list/tuple.

In [7]:
list_a = [2,3,4,4,5,1]

In [22]:
np.array(list_a)

array([2, 3, 4, 4, 5, 1])

In [24]:
tuple_a = (2,3,4,4,5,1)

In [25]:
np.array(tuple_a)

array([2, 3, 4, 4, 5, 1])

* Here, data type of array is int32.
* Using numpy we can configure dtype to another dtype as well.

In [27]:
np.array(list_a,dtype=np.float16)

array([ 2.,  3.,  4.,  4.,  5.,  1.], dtype=float16)

In [29]:
np.array(tuple_a,dtype=np.float16)

array([ 2.,  3.,  4.,  4.,  5.,  1.], dtype=float16)

In [30]:
np.array(['hello','world','friends'])

array(['hello', 'world', 'friends'],
      dtype='<U7')

In [32]:
np.array(('hello','world','friends'))

array(['hello', 'world', 'friends'],
      dtype='<U7')

* Size of each element is decided by the maximum size of word.
* Here that is 7(no. of chars in friends = 7)

#### asarray:
* Creates array from list.
* works same as np.array but has fewer parameters than np.array.

In [59]:
np.asarray(a=list_a,dtype=int)

array([2, 3, 4, 4, 5, 1])

### From file:
* Load data from a text file, with missing values handled as specified.
* Each line past the first skip_header lines is split at the delimiter character, and characters following the comments   character are discarded.

In [76]:
np.genfromtxt(fname='example.txt',dtype='U16')

array('1,2,3,4,5,6',
      dtype='<U16')

* here fname can be file, str, pathlib.Path, list of str, generator