* Pandas - High-Performance open source library for data analysis
* Process datasets of different formats - time series, tabular data, matrix data
* Import data from csv,json & database
* Provides extensive operations like slice,subset,merging, groupby,shaping etc.
* Handling missing data
* Doing statiscal analysis
* Pandas objects are consumed by scikit-learn,tensorflow

In [2]:
import pandas as pd

#### Two Data Structures
* Series - 1D NumPY array with indexed column
* DataFrame - Tabular data with hetrogenous columns

#### creation of series

In [3]:
ser1=pd.Series(data=[1,2,3,4,5], index=['A','B','C','D','E'])

In [4]:
ser1

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [6]:
ser1.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [7]:
ser1.values

array([1, 2, 3, 4, 5], dtype=int64)

#### accessing elements from series object

In [15]:
ser = pd.Series(data=[5,6,6,7], index=['a','b','c','d'])

#### Access by index values
* Value is inclusive

In [16]:
ser1[:'c']

A    1
B    2
C    3
D    4
E    5
dtype: int64

#### series object with default index

In [10]:
ser2 = pd.Series([1,2,3])

In [11]:
ser2

0    1
1    2
2    3
dtype: int64

#### convert dictionary to series

In [12]:
db = {'abc':'hello','def':'yello','jkl':'good'}

In [13]:
pd.Series(db)

abc    hello
def    yello
jkl     good
dtype: object

#### Convert scalar value to seriesÂ¶

In [14]:
pd.Series(0, index=['a','b','c'])

a    0
b    0
c    0
dtype: int64